<section class="header">
  <div class="header__title">
    <h2 class="u-push__bottom--none">Shipper Report</h2>
  </div>
</section>

<%= form_for @conn, Routes.deprecated_reports_path(@conn, :download_shippers), [as: :shippers], fn _ -> %>
  <div class="report-filters">
    <button class="button button--primary" type="submit">Download CSV</button>
  </div>
<% end %>
